.challengelist > h3{
  font-size: 35px;
  color: rgb(5, 152, 24);
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}
.table{
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
} 
.title{
  width: 70%;
  height: 70px;
}
tbody td{
  border-bottom: 1px solid rgb(151, 141, 141);
  padding: 20px;  
}
thead th{
  border-bottom: 1px solid rgb(151, 141, 141);
  color: rgb(151, 141, 141);
}
.count, .date{
  border-left: 1px solid rgb(151, 141, 141);
  text-align: center;
}
.pen{
  background-color: linen;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 10px;
  margin-left: 75%;
}

.title_link{
  text-decoration: none;
  color: black;
  overflow: hidden;

}
.title_link:hover{
  text-decoration:underline;
}
.list_img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.img_list{
  display: block;
  margin-top: 0;
}
.empty_list{
  text-align: center;
  margin-bottom: 100px;
}
.empty_list >h2{
  color: rgb(26, 96, 35);
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 20px;
  padding: 20px;
}
.empty_list > a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.empty_list > a:hover{
  color: rgb(201, 29, 72);
  transition: all 0.3s ease-in-out;
}
.empty_list > p{
  color: rgb(5, 152, 24);
  margin-top: 100px;
  font-weight: bold;
  font-size: 15px;
}
@media screen and (max-width: 768px){
  .table{
    /* width: 100%; */
  }
}