.challengeview{
  margin-top: 30px;
  margin-left: 20%;
  margin-bottom: 30px;
  background-color: linen;
  width: 60%;
}
.view_title{
  word-wrap: break-word; /*자동 줄바꿈*/
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid rgb(159, 155, 155);
  width: 70%;
  margin: auto;
}
.view_contents{
  word-wrap: break-word;
  word-break: break-all;
  padding: 20px;
  width: 70%;
  margin: auto;
}
.view_img{
  width: 100%;
  margin-left: 15%;
  margin-top: 50px;
}
.challenge_join, .challenge_remove, .challenge_rewrite{
  margin-left: 50%;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 1em;
}
.challenge_join{
  margin-bottom: 100px;
}
.challenge_rewrite, .challenge_remove{
  font-size: 15px;
  background-color: rgb(117, 216, 170);
  border: none;
}
.link{
  text-decoration: none;
  color: white;
}
