.challengeview{
  margin-top: 30px;
  margin-left: 20%;
  margin-bottom: 30px;
  background-color: linen;
  width: 60%;
}
.view_title{
  word-wrap: break-word; /*자동 줄바꿈*/
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid rgb(159, 155, 155);
  width: 70%;
  margin: auto;
}
.view_contents{
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;
  padding: 20px;
  width: 70%;
  margin: auto;
}
.view_img{
  width: 80%;
  margin-left: 17%;
  margin-top: 50px;
}
.challenge_join, .challenge_remove, .challenge_rewrite{
  margin-left: 45%;
  margin-bottom: 30px;
  background: none;
  color: rgb(5, 152, 24);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 1em;
  border: 2px solid rgb(26, 222, 39);
}
.challenge_join:hover, .challenge_remove:hover, .challenge_rewrite:hover{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgb(115, 238, 124);
}
.challenge_join{
  margin-bottom: 100px;
}
.challenge_rewrite, .challenge_remove{
  font-size: 15px;
  margin-left: 30%;
}
.link{
  text-decoration: none;
  color: rgb(5, 152, 24);
}

@media screen and (max-width: 768px){
  .challengeview{
    width: 80%;
    margin-left: 10%;
  }
  .view_img{
    margin-left: 10%;
  }
  .challenge_remove{
    margin-left: 20%;
  }
}
