/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); */
.main_container {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  justify-content: space-between;
}

.main_logo{
  font-size: 50px;
  color: rgb(38, 186, 1);
  font-family: 'Lobster', cursive;
  margin: 0; /*5rem*/
  background: none;
  border-style: none;
}
.main_logo:hover{
  color: rgb(0, 128, 41);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header_menulist {
    list-style: none;
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
    font-family: 'Do Hyeon', sans-serif;
}

.header_user {
    list-style: none;
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Do Hyeon', sans-serif;
  }

.nav_item{
  padding: 0 2rem;
}
.nav_item > a{
  text-decoration: none;
  color: black;
}
.nav_item > a:hover{
    transition: all 0.3s ease-in-out;
    color: rgb(35, 172, 20);
}

.line{
  background-color: rgb(199, 195, 195);
  width: 80%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10%;
}
.list_icon, .x_icon{
  display: none;
}
.none{
  display: none;
}
.logout_btn{
  background: none;
  border: none;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 15px;
}
.logout_btn:hover{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: red;
}
  @media screen and (max-width: 780px) { /*max-width : 300px  max-height : 500px*/
    .none{
      display: none;
    }
    .main_container.active{
      display: flex;
      background-color: rgb(255, 255, 255);
      flex-direction: column;
      justify-content: space-between;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      border-radius: 2em;
      transition: all 0.5s ease-out;
    }
    .main_logo{
      font-size: 2.5em;
      /* margin-left: 25%; */
      /* background: none; */
      /* margin-top: 20px; */
    }
    .list_icon, .x_icon{
      display: flex;
      font-size: 38px;
      background: none;
      border-style: none;
      cursor: pointer;
      padding: 0;
      margin-left: 1rem;
    }
    .x_icon{
      font-size: 28px;
      color: black;
      margin: 20px 0;
    }
    .list_icon:hover, .x_icon:hover{
      color: rgb(244, 111, 133);
      transition: all 0.3s ease-in-out;
    }
    .header_menulist, .header_user {
      display: none;
    }
    .header_menulist.active, .header_user.active{
      display: block;
      margin-left: 1%;
      margin-right: 10%;
      justify-content: space-between;
      transition: all 0.3s ease-in-out;
    }
    .nav_item{
      padding: 10px 10px;
      border-bottom: 2px solid rgb(35, 172, 20);
      text-align: center;
      color: white;
    }
  }