@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
}

.logo{
  font-size: 30px;
  color: white;
  font-family: 'Lobster', cursive;
  margin: 0 1.5rem;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: pink;
}

.header-menulist {
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
    /* margin-left: 100px; */
    /* margin-top: 20px; */
    justify-content: space-between;
    padding: 0 1rem;

}

.header-user {
    list-style: none;
    display: flex;
    margin: 0 3rem;
  }


li {
      padding: 0 1rem;
} 

/* .toggle {
    display: none;
    font-size: 1.5rem;
    /* padding: 1rem 1rem; */
  /*} */

/* .user {
    display: none;
    font-size: 1.5rem;
    padding: 1rem 1rem;
  } */

 /* @media screen and (max-width: 780px) {
    .navigation{
      display: flex;
    flex-wrap: wrap;}

    .icon{
      display: none;
    }

  
    .header-user{
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: black;
      text-align: center;
      margin-right: auto;
    }
    
    .header-menulist {
      display: 'none';
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: black;
      margin-right: auto;
    }

    .header-menulist li,
    .header-user li {
      margin: 1rem 0;
      padding: 0;
      color: white;
    }

    /* .toggle {
      display: block;
    }

    .user {
      display: block;
    } */
  /* } */