.login, .chargemoney{
  background-color: black;
  color: white;
  text-align: center;
  height: 80%;
  width: 30%;
  min-width: 300px;
  max-width: 600px;
  overflow-y: auto;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  z-index: 1011;
  box-sizing: border-box;
  border-radius: 1em;
}
h3{
  margin-top: 30%;
}
.chargemoney > h3{
  margin-top: 30%;
}

.title{
  font-size: larger;
  padding: 10px;
}
.input{
  padding: auto;
  margin: 10%;
  margin-top: 30px;
}
.pw{
  margin-top: 5px;
  margin-left: 33%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.x{
  margin-top: auto;
  display: flex;
  font-size: 28px;
  background: none;
  border-style: none;
  cursor: pointer;
  color: white;
  margin: 20px auto;
}
.x:hover{
  color: pink;
  transition: all 0.3s ease-in;
}
.pay_btn{
  background: none;
  border-radius: 1rem;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20%;
  margin-bottom: 10%;
}
.pay_btn:hover{
  cursor: pointer;
  color: yellow;
  transition: all 0.3s ease-in;
}
@media screen and (max-width:780px) {
  h3{
    margin-top: 50%;
  }
  .id, .pw{
    margin-left: 20%;
  }
}