.inputContainer {
  flex: 1;
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.inputButton {
  background-color: rgb(27, 165, 27);
  font-size: 20px;
  color: white;
  border: none;
  padding: 10px;
  width: 20%;
}
.inputButton:hover{
  cursor: pointer;
}